{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Drupal core's breadcrumb system does not include the current page title.
 * For full breadcrumb functionality (current page, configurable options),
 * install the Easy Breadcrumb module:
 *   https://www.drupal.org/project/easy_breadcrumb
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{#
  Attaching Drupal libraries
#}
{% block attachments %}
  {{ attach_library('brainsum_starterkit/breadcrumb') }}
{% endblock %}

{#
  Building the template structure
#}
{% if breadcrumb %}
  <nav
    class="c-breadcrumb"
    role="navigation"
    aria-labelledby="system-breadcrumb"
  >
    <div
      id="system-breadcrumb"
      class="u-visually-hide u-visually-hide--focusable"
    >
      {{ 'Breadcrumb'|t }}
    </div>
    <div class="c-breadcrumb__content">
      <ol class="c-breadcrumb__list">
        {% for item in breadcrumb %}
          <li class="c-breadcrumb__item">
            {% if item.url %}
              <a href="{{ item.url }}" class="c-breadcrumb__link">
                {{ item.text }}
              </a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </nav>
{% endif %}
