{#
/**
 * @file
 * Theme implementation for the administrative toolbar.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - toolbar_attributes: HTML attributes to apply to the toolbar.
 * - toolbar_heading: The heading or label for the toolbar.
 * - tabs: List of tabs for the toolbar.
 *   - attributes: HTML attributes for the tab container.
 *   - link: Link or button for the menu tab.
 * - trays: Toolbar tray list, each associated with a tab. Each tray in trays
 *   contains:
 *   - attributes: HTML attributes to apply to the tray.
 *   - label: The tray's label.
 *   - links: The tray menu links.
 * - remainder: Any non-tray, non-tab elements left to be rendered.
 *
 * @see template_preprocess_toolbar()
 *
 * @ingroup themeable
 */
#}

{#
  Building the template structure
#}
<div{{ attributes.addClass('toolbar') }}>
  <nav{{ toolbar_attributes
    .addClass('toolbar-bar')
    .setAttribute('aria-labelledby', 'toolbar-bar-name')
  }}>
    <span
      class="u-visually-hide u-visually-hide--focusable"
      id="toolbar-bar-name"
    >
        {{ toolbar_heading }}
    </span>
    {% for key, tab in tabs %}
      {% set tray = trays[key] %}

      <div{{ tab.attributes.addClass('toolbar-tab') }}>
        {{ tab.link }}
          <div{{ tray.attributes }}>
            {% if tray.label %}
              <nav
                class="toolbar-lining clearfix"
                aria-labelledby="toolbar-tray-name--{{ key }}"
              >
                <span
                  class="toolbar-tray-name u-visually-hide u-visually-hide--focusable"
                  id="toolbar-tray-name--{{ key }}"
                >
                  {{ tray.label }}
                </span>
            {% else %}
              <nav class="toolbar-lining clearfix">
            {% endif %}

            {{ tray.links }}
            </nav>
          </div>
      </div>
    {% endfor %}
  </nav>

  {{ remainder }}
</div>
