{#
/**
 * @file
 * Theme override for status messages. Based on Olivero Theme.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{#
  Building the template structure
#}
<div data-drupal-messages class="c-messages-list">
  {% for type, messages in message_list %}
    {% set classes = [
      'c-messages-list__item',
      'c-messages',
      'c-messages--' ~ type,
    ] %}

    <div
      {{ attributes.addClass(classes).setAttribute(
      'data-drupal-selector', 'messages',
      ).setAttribute(
        'role', 'contentinfo',
      ).setAttribute('aria-label', status_headings[type]) }}
    >
      <div
        class="c-messages__container"
        data-drupal-selector="messages-container"{% if type == 'error' %}
        role="alert"{% endif %}
      >
        <div class="c-messages__header">
          {% if type == 'error' %}
            {{ include('brainsum_starterkit:icon', {
              icon: 'octagon-xmark-regular',
              class: 'c-messages__icon c-messages__icon--error',
              size: 32,
              alt: 'X mark in octagon shape'|t,
            }) }}
          {% elseif type == 'warning' %}
            {{ include('brainsum_starterkit:icon', {
              icon: 'triangle-exclamation-regular',
              class: 'c-messages__icon c-messages__icon--warning',
              size: 32,
              alt: 'Exclamation mark in triangle shape'|t,
            }) }}
          {% elseif type == 'status' %}
            {{ include('brainsum_starterkit:icon', {
              icon: 'circle-check-regular',
              class: 'c-messages__icon c-messages__icon--status',
              size: 32,
              alt: 'Check mark in circle shape'|t,
            }) }}
          {% elseif type == 'info' %}
            {{ include('brainsum_starterkit:icon', {
              icon: 'lightbulb-regular',
              class: 'c-messages__icon c-messages__icon--info',
              size: 32,
              alt: 'Lightbulb'|t,
            }) }}
          {% endif %}
          <h2 class="c-messages__title">
            {% if type == 'error' %}
              {{ 'Error'|t }}!
            {% elseif type == 'warning' %}
              {{ 'Warning'|t }}!
            {% elseif type == 'status' %}
              {{ 'Success'|t }}!
            {% elseif type == 'info' %}
              {{ 'Info'|t }}
            {% endif %}
          </h2>
          <button type="button" class="c-messages__close" aria-label="{{ 'Close message'|t }}">
            <span class="u-visually-hide">{{ 'Close message'|t }}</span>
          </button>
        </div>

        <div class="c-messages__content">
          {% if messages|length > 1 %}
            <ul class="c-messages__list">
              {% for message in messages %}
                <li class="c-messages__item">{{ message }}</li>
              {% endfor %}
            </ul>

          {% else %}
            {{ messages|first }}
          {% endif %}
        </div>
      </div>
    </div>

    {# Remove type specific classes. #}
    {% set attributes = attributes.removeClass(classes) %}
  {% endfor %}
</div>
