{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{#
  Attaching Drupal libraries
#}
{% block includes %}
  {{ attach_library('brainsum_starterkit/page.error') }}
{% endblock %}

{#
  Building the template structure
#}

<div class="c-page c-page--offline" id="c-page">
  <header id="c-header" class="c-header" data-drupal-selector="header">
    <div class="o-container">
      <div class="c-branding__logo">
        {{ source('/' ~ directory ~ '/logo.svg') }}
      </div>
    </div>
  </header>

  <main id="main">
    <span id="main-content" tabindex="-1"></span>

    <div class="o-container error-page-content">
      <div class="c-block-page-title-block">
        <h1 class="c-title c-page__title c-type-page__title c-type--heading-1">
          {{ 'Maintenance'|t }}
        </h1>
      </div>

      {{ include('@brainsum_starterkit/_patterns/_error-page.twig', {content: page.content}) }}
    </div>
  </main>
</div>

{{ page.admin }}
